@using internPlatform.Application.Extensions
@{
    ViewBag.Title = "ErrorsStatistics";
    Layout = "~/Areas/Admin/Views/Shared/_AdminMenuLayout.cshtml";
}

<h2>Errors Statistic&nbsp;<i class="bi bi bi-bug-fill h4"></i></h2>

<div class="container">
    <div class="row py-4">

        <div class="col-12 text-end">
            @Html.ActionLink(" Clear All", "EventUpSert", "Dashboard", new { area = "Admin" }, new { @class = "btn btn-warning text-bold" })
        </div>
    </div>
</div>
<div class="container overflow-x-auto col-12">
    <table id="tblData" class="table table-bordered table-striped col-12">
        <thead>
            <tr>
                <th class="text-center">TimeStamp</th>
                <th class="text-center">CallSite</th>
                <th class="text-center">Message</th>
                <th class="text-center">LineNumber</th>
                <th></th>
            </tr>
        </thead>

    </table>
</div>


@section Scripts{
    <script type="text/javascript" src="//cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
}

@Url.ScriptVersioned("~/Scripts/datatables/errors.js")

