@using internPlatform.Application.Extensions
@{
    ViewBag.Title = "Events";
    Layout = "~/Areas/Admin/Views/Shared/_AdminMenuLayout.cshtml";
}
@{
    <h2>Events &nbsp;<i class="bi bi-calendar2-event-fill h4"></i> </h2>
    <div class="container">
        <div class="row py-4">

            <div class="col-12 text-end">
                @Html.ActionLink("Add Event", "EventUpSert", "Dashboard", new { area = "Admin" }, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
    <div class="container overflow-x-auto col-12">
        <table id="tblData" class="table table-bordered table-striped col-12">
            <thead>
                <tr>
                    <th class="text-center">Last update</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Author</th>
                    <th class="text-center">Entry Type</th>
                    <th class="text-center">Age Group</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Special Guests</th>
                    <th></th>
                </tr>
            </thead>

        </table>
    </div>

}

@Url.ScriptVersioned("~/Scripts/datatables/events.js")

