@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">

        <h1 id="title"><i class="bi bi-house"></i> ASP.NET Application  </h1>
       
        <p class="lead">Welcome home !</p>

    </section>

   
</main>