<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Define targets -->
  <targets>
    <target xsi:type="File" name="fileTarget" fileName="logs/logfile.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    <target xsi:type="Console" name="consoleTarget"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>

  <!-- Define rules -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="fileTarget" />
    <logger name="*" minlevel="Info" writeTo="consoleTarget" />
  </rules>
</nlog>
