<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="databaseTarget" xsi:type="Database" 
            connectionString="data source=localhost\SQLEXPRESS;initial catalog=internDB;Persist Security Info=True;MultipleActiveResultSets=True;TrustServerCertificate=True;User Id=dumitru;Password=adminpassword;">
      <commandText>
        INSERT INTO ErrorLogs (Timestamp, Level, Logger, Message, Exception, CallSite, LineNumber) 
        VALUES (@timestamp, @level, @logger, @message, @exception, @callsite, @linenumber)
      </commandText>
      <parameter name="@timestamp" layout="${longdate:format=yyyy-MM-dd HH:mm:ss}" />
      <parameter name="@level" layout="${level:uppercase=true}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:format=ToString}" />
      <parameter name="@callsite" layout="${callsite}" />
      <parameter name="@linenumber" layout="${callsite-linenumber}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="databaseTarget" />
  </rules>

</nlog>
